.page-container {
  padding-bottom: 140px;
  width: 100%;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  font-size: 14px;
  background-color: #12b188;
  overflow-x: hidden;
}

.background-box {
  position: absolute;
  top: 180px;
  width: 100vw;
  height: calc(100% - 215px);
  background-color: white;
  border-radius: 40px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 0;
}

.main-content {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.header-details {
  font-size: 1.8em;
  font-weight: 700;
}

.hero {
  position: relative;
  width: 70vw;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.1em;
}

.hero img {
  width: 70vw;
  transform: scale(1.03);
  transform-origin: 50% 0%;
}

.hero-right > img {
  width: 60vw;
}

.hero-desc {
  position: absolute;
  bottom: 55px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-desc-major {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.2em;
}

.hero-desc-minor {
  font-size: 1em;
  line-height: 1.1em;
}

.hero-action {
  color: #0F8768;
  font-size: 1.13em;
  text-shadow: none;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  background-color: white;
}

.hero-action > svg {
  margin-right: 5px !important;
  margin-top: 14px!important;
}

.notification {
  height: 120px;
  color: black;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 30%);
  background-color: #B5E3D8;
  text-shadow: none;
  margin: 30px 1rem !important;
}

.notification-content {
  font-size: 1.3em;
  font-weight: 700;
  margin: 5px 0px;
}

.notification > img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 120px;
}

.leave-bubble-container {
  position: fixed;
  bottom: 150px;
  width: 100%;
}

.leave-bubble {
  background-color: #FFDA30;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  color: black;
  text-shadow: none;
  text-align: center;
  margin: auto;
  font-size: 16px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 80%);
  padding: 10px;
}

.leave-bubble > img {
  height: 30px;
  width: 30px;
}
