.page-container {
  padding-bottom: 140px;
  height: calc(100% + 140px);
  width: 100%;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  font-size: 14px;
  background-color: #12b188;
  overflow-x: hidden;
}

.background-box {
  position: absolute;
  top: 265px;
  width: 100vw;
  height: calc(100% - 215px);
  background-color: white;
  border-radius: 40px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 0;
}

.main-content {
  padding-top: 100px;
}

.header {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.header-details {
  font-size: 2em;
}
  
.hero-container {
  width: 2000px;
  padding-left: 1.6em !important;
}

.hero {
  position: relative;
  width: 70vw;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
  font-size: 1.1em;
}

.hero.minor {
  transform: scale(0.9);
}

.hero > img {
  width: 70vw;
}

.hero-right > img {
  width: 60vw;
}

.hero-desc {
  position: absolute;
  bottom: 70px;
  padding-left: 30px;
  padding-right: 30px;
  width: 70vw;
}

.hero-desc-major {
  font-size: 1.8em;
}

.hero-desc-minor {
  font-size: 1.1em;
}

.hero-action {
  color: #17AF88;
  text-shadow: none;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  background-color: white;
}

.notification {
  height: 130px;
  color: black;
  position: relative;
  border-radius: 10px;
  background-color: #B5E3D8;
  text-shadow: none;
}

.notification-content {
  font-size: 1.2em;
  font-weight: 600;
}

.notification > img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 130px;
}

.leave-bubble-container {
  position: fixed;
  bottom: 150px;
  width: 100%;
}

.leave-bubble {
  background-color: #FFDA30;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  color: black;
  text-shadow: none;
  text-align: center;
  margin: auto;
  font-size: 16px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 80%);
  padding: 10px;
}

.leave-bubble > img {
  height: 30px;
  width: 30px;
}

.footer {
  position: fixed;
  bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
  width: 100%;
  box-shadow: 0 -1px 6px rgb(0 0 0 / 40%);
  text-shadow: none;
  background-color: white;
}

.footer-icon {
  background-color: white;
  color: #717171;
  font-weight: 600;
  padding-top: 20px;
}

.footer-icon > img {
  margin-bottom: 5px;
  width: 30px;
}

.footer-icon.selected {
  color: #17AF88;
}
