<div mat-dialog-content class="main-content d-flex flex-column text-center">
  <div class="close-button" (click)="exit()">
    <svg viewBox="0 0 100 100" height="30" width="30">
      <path d="M20 20 L80 80" fill="none" stroke="black" stroke-width="8" />
      <path d="M80 20 L20 80" fill="none" stroke="black" stroke-width="8" />
    </svg>
  </div>
  <div class="location-desc mx-3">You have entered the venue</div>
  <div class="location-name mx-3">{{ visitHistory?.location }}</div>
  <div class="enter-time mx-3">{{ visitHistory?.inTime | date: 'yyyy-MM-dd HH:mm' }}</div>
  <div class="question mx-4 flex-grow-1 d-flex align-items-center justify-content-center"><div class="">Are you leaving now?</div></div>
  <div class="auto-leave mx-3" *ngIf="data.isAuto">Auto-leave at {{ visitHistory?.outTime | date: 'MM-dd HH:mm' }}</div>
  <div class="now-button text-center" (click)="leaveNow()"><div class="button-content align-middle">Yes, I'm leaving now</div></div>
  <div class="past-button text-center"><div class="button-content align-middle">I've already left</div></div>
</div>