@import "~bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  user-select: none;
  font-family: 'Rubik';
}

body::-webkit-scrollbar {
  display: none;
}
