@import "~bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: 'Rubik';
}
