.page-container {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  background-color: #12b188;
}

.close-button {
  position: fixed;
  right: 20px;
  top: 20px;
}

.main-content {
  padding-top: 100px;
}
.bottom-content {
  position: absolute;
  bottom: 0px;
  padding-bottom: 50px;
}

.content-text {
  font-size: 1em;
}

.location-text {
  color: #ffdb30;
  font-size: 2em;
  font-weight: 600;
}

.time-text {
  font-size: 1.1em;
}

.check-symbol {
  padding-top: 50px;
  font-size: 100px;
}

:host mat-checkbox::ng-deep .mat-checkbox-label {
  font-weight: 600;
  font-size: 13px;
}

.change-button {
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
}

.leave-btn {
  height: 50px;
  width: 250px;
  background-color: #ffdb30;
  border-radius: 25px;
  display: table;
  text-shadow: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.leave-btn .leave-btn-content {
  color: black;
  display: table-cell;
  font-size: 1.5em;
  font-weight: 600;
}

.reminder-text {
  font-weight: 300;
}
